@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");

/* Your CSS styles here */

*{
    font-family: 'Inconsolata', monospace;
                                                                                                               
}

.frosted-glass {
    background-color: rgba(0, 0, 0,0.2);
    backdrop-filter : blur(10px);
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: 700; /* You can specify the desired weight here */
}

.card{
    border-radius: 10px;
}

.card-body{
    background: #DEECFF;
    border: transparent;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
}

#profile1{
    
       z-index: 2;
       display: block;
      transition: 330ms ease-in-out;  
      position: relative;
}

#profile1:hover {
    transform: scale(1.1);
  
}

#profilename{
    padding-top: 100px;
    padding-bottom: 200px;
}

#sysd{
   
    position: relative;
    z-index: 2;
    transform: rotate(90deg);
    display: flex;
    right: 0; border: 0;
}

#sidenav{
    position: relative;
    z-index: 2;
    color: white;
    
}

#navmenu{
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#sidenav:hover{
    color: gray;
}



.nav-link {
    cursor: pointer;
  }

#home {
   
    
    /* background: linear-gradient(-45deg,#1DB9C3,#F56FAD,#C32BAD,#7027A0); */
    /* background: linear-gradient(-45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%,rgba(63,94,251,1) 100%); */
     background: radial-gradient(circle ,#000957,#344CB7,#577BC1);
    /* background: linear-gradient(45deg ,#3E00FF,#3D087B,#170055); */
     background-size: 400% 400%; 
    animation: gradient 30s ease infinite;  
   
    
}

/* about */


#about{
    /* width: 80vw; */
    
}

@media (max-width: 768px) {
    #about {
        width: 100vw;
    }
}

/* skills */
#skills{
    /* width: 80vw; */
   
}

@media (max-width: 768px) {
    #skills {
        width: 100vw;
    }
}

#contact div{
    /* width: 80vw; */
   color: gainsboro;
   background: transparent;
   border: transparent;
}


@media (max-width: 768px) {
    #contact {
        width: 100vw;
    }
}
 



@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
 
    16% {
        background-position: 50% 0%;
    }

    32% {
        background-position: 100% 0%;
    }

    48% {
        background-position: 100% 100%;
    }
 
    64% {
        background-position: 50% 100%;
    }

    80% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }

    /* 0% {
        background-position: 0% 0%;
    }
 
    50% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 100% 100%;
    } */
}

/* paralax effect */

#filler{
    /* The image used */
    /* background-image: url("img_parallax.jpg"); */
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #filler{
      opacity: 0.7;
  }


/* star animation */

#particles-js{
    position:absolute;
    top:0%;
    width:100%;
    height:100%;
    z-index: 1;
   
}




#sliid{
    display: none;
}

#progressba{
background: linear-gradient(90deg,#344CB7,#577BC1);
}


/* circular profile */

.circular-image { 
    display: inline-block; 
    position: relative;
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
     border: transparent 10px solid;
    z-index: 2;
   
} 
    
.circular-image img { 
    width: auto; height: 100%; 
   
    /* margin-left: -40px;  */
}